 <footer id="sticky-footer" class="py-4 bg-dark text-white">
   <div class="container text-center">
      <small>Copyright &copy; <%= link_to "RASHAD K", "https://k-rashad7.info", class: "text-white",target: "_blank"  %></small>
   </div>
 </footer>